* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;

}

.container {
    height: 150vh;
    width: 100vw;
    /* border: 2px solid black; */
background-color: var(--bg-color);
}

:root 
{
    --linkColor: #009099;
    --light :white;
    --gray: gray;
    --bg-color: #f0efe7;
    --blue: #009099;
    --font-color: #4e443c;
    --orange: #f14e32;
    --dark-mode : #2a2a2a;
}
.light{
    --light :white;
    --linkColor:#d7834f;
    --gray: gray;
    --bg-color: #f0efe7;
    --blue:#2988a6;
    --font-color:#4e445b;
    --orange: #f14e32;
    --dark-mode : #2a2a2a;

    --black:black;

}

    
    .dark{
       
        --linkColor:#d7834f;
        --light :white;
        --gray: gray;
        --bg-color: #2a2a2a;
        --blue: #d7834f;
        --font-color:white;
        --orange: #f14e32;
        --black:var(--gray);
         scroll-behavior: smooth;
       
    }
    html{
       
    }
 

.navigation-bar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 8rem;
    width: 100%;
    background-color: var(--bg-color);
    /* gap: 25rem; */

}

.left-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 50%;
}

.logo-desc {
    color:gray;

    font-size: 2.1rem;
    font-weight: 500;
}

.right-navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 50%;
    gap: 2rem;
    width: 50%;
    align-items: center;
    justify-content: flex-end;

}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--black);
    border-radius: 100px;
    position: relative;

    overflow: hidden;
    background-color: var(--light);

}

.search-input {
    height: 2.4rem;
    width: 26rem;
padding:0rem 2.7rem;
/* border: inset 3px 2px var(--dark-mode); */
background: var(--bg-color);

}

.search-input input {
    height: 100%;
    width: 114%;
    outline: none;
    font-size: 1.5rem;
    /* box-shadow: inset 0px 0px 2px var(--dark-mode); */
    border: none;
    background-color: transparent;
}

.logo {
    height: 4.5rem;
    width: 11rem;
}

.logo a, img {
    height: 100%;
    width: 100%;
}

.search-icon {
    height: 100%;
    position: absolute;
    left: 5px;
    top: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    /* color: gray; */
    color: var(--gray);
}




#darkMode {
    font-size: 3rem;
background-color: #5a5a5a;
color: #edebe0;
cursor: pointer;
border-radius: 50%;
transform:rotateZ(10deg);
}


.main-container {
    display: flex;
    position: relative;
    height: 30rem;
    /* background-color: red; */
    width: 100%;
    z-index: 4;
    z-index: 990999;
    filter: brightness(1) contrast(1);
}

.main-container-bg{
 
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 0; */
    background-image: url("/assets/image/isometric-grid@2x.png");
    background-position: center;
    background-size: 35px 21px;
    background-repeat: repeat;
/* z-index: 1; */

}

.contain-center {
    display: flex;
    width: 940px;
    margin: 0px auto;
    height: 100%;
    position: relative;
    

}

.left-container {
    width: 60%;
    padding: 3rem 0rem;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    gap: 3rem;

}

/* div{
    border: 2px solid black;
}

ul{
    border: 1px solid red;
}
li{
    border: 1px solid blue;
} */
.left-container p {
    font-size: 1.7rem;
    line-height: 2.7rem;
    color: var(--font-color);
}

.right-contiainer {
    width: 40%;
    position: relative;
}

.right-contiainer-img {
    /* background-image: url("assets/image/branching-illustration@2x.png"); */
    width: 389px;
    
    height: 251px;
    position: absolute;
    top: 3rem;


}


.link-color {
    color: var(--blue);
    text-decoration: none;
}



.frontend-navigation {
    display: flex;
    background-color: var(--bg-color);
    padding: 1rem;
    height: 60vh;
}
.frontend-navigation hr{
    color: gray;
}
.frontend-navigation .contain-center{
    padding: 2rem 0px;
}

.frontend-left-navigation {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 67%;
    padding: 3rem 2rem;
}

.nav-row {
    display: flex;
    gap: 0.5rem;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 32rem;
}

.nav-image {
    height: 8rem;
    width: 11.6rem;
    border-radius: 50%;
    overflow: hidden;
}

.nav-image img {
    height: 100%;
    width: 100%;
}

.desc-heading {
    color: var(--orange);
}

.nav-description {
    color: var(--font-color);
    font-size: 1.3rem;
    line-height: 1.5rem;
    word-spacing: 0.4rem;
    padding: 0;
    width: 100%;
    word-wrap: break-word;
}

.nav-desc {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;

}

.desc-heading {
    font-size: 2rem;
}

/* ads section */
.ads {
    display: flex;
    height: 6rem;
    width: 100%;
    gap: 2rem;
    align-items: center;
}

.ads-image {
    height: 8rem;
    width: 9.8rem;
}

.ads-desc p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--gray);
}


/* window making *************...........................************************ */

.frontend-right-navigation {
    width: 33%;
    /* padding: 3rem 1rem; */

}

.window {
    height: 24rem;
    width: 30rem;
    background-image: url(/assets/image/monitor-windows.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.lt {
    font-family: sans-serif;
    font-size: 1.9rem;
    color: white;
}

.D-btn {

    padding: 0.6rem 0.5rem;
    cursor: pointer;
    background:linear-gradient(#1e8187, #1a555a);
    color: white;
    box-shadow: 0px  0px #1f6367;
    border-top: solid 1px #085e64;
    border-right: solid 1px #1f6367;
    border-bottom: solid 1px #134143;
    border-left: solid 1px #1f6367;
    font-size: 1.5rem;
    width: 20rem;
    text-align: center;
}

.version {
    color: white;
    font-size: 2.5rem;
}

.rel {
    /* margin: 0.3rem 0px; */
}
.rel  a{
    color: white;

}

.window-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    flex-direction: column;
    padding: 0px 1.4rem;
    gap: 1rem;
}

.wind-box-row {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.wind-box-item {

    display: flex;
    align-items: center;
    width: 15rem;
    gap: 0.5rem;

}

.wind-box-item-img {
    height: 2rem;
    width: 2rem;
 
    overflow: hidden;
}

.wind-box-item-img img {
    height: 100%;
    width: 100%;
}

.wind-box-item-description p a {
    font-size: 1.6rem;
    font-weight: 600;
}

.hr-bottom {
    bottom: 0;
      width: 920px;
    text-align: center;
    margin: 0px auto;
}

.footer-section {
    height: fit-content;
    background-color: var(--bg-color);
}

.footer-section .contain-center {
    display: flex;
    gap: 0;
    flex-direction: column;
}

.footer-section .contain-center h2 {
    text-align: center;
    font-size: large;
    margin: 2.4rem 0px;
    color: var(--black);

}

.footer-section .contain-center ul {
    display: flex;
    padding: 1rem 0rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer-section .contain-center ul li {
    list-style: none;
    height: 6.5rem;
    width: auto;
}

.footer-section .contain-center ul li img {
    height: 100%;
    width: 100%;

}

.foo {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    position: relative;

}

.heading {
    position: relative;
    padding-left: 10px;
}

.heading ::before {
    position: absolute;
    content: "</>";
    left: -4rem;
    top: 0rem;
    font-size: 3rem;
    color: gray;
}
.foo p{
color: var(--black);
}
.Gray-color {
    color: gray;
}

p {
    font-family: sans-serif;
    font-size: 1.3rem;
}

.right-foo {
    font-family: sans-serif;
    font-size: 1.3rem;
}
.bg{
    background-color:var(--bg-color);
}

.dark-main-container{

}





